<%- include('../partials/header.ejs') %>

    <h1 class="text-white">Error</h1>
    <p class="text-white">
        <%= message %>
    </p>
    <% if (error) { %>
        <pre class="text-white"><%= error.stack %></pre>
        <% } %>

            <%- include('../partials/footer.ejs') %>