<%- include('../partials/header.ejs') %>

    <h1>Error</h1>
    <p>
        <%= message %>
    </p>
    <% if (error) { %>
        <pre><%= error.stack %></pre>
        <% } %>

            <%- include('../partials/footer.ejs') %>