<%- include('../partials/header.ejs') %>

    <p class="text-white">
        <%= user.email %>
    </p>

    <p class="text-white">
        <%= user.password %>
    </p>


    <%- include('../partials/footer.ejs') %>