<%- include('../partials/header.ejs') %>

    <% if (user.email && user.password) { %>
        <p>
            <%= user.email %>
        </p>
        <p>
            <%= user.password %>
        </p>
        <% } %>

            <%- include('../partials/footer.ejs') %>