<%- include('../partials/header.ejs') %>

    <% if (user) { %>
        <h1 class="text-white">LOGGED IN as <%= user.email %> ID: <%= user.id %>
        </h1>
        <% } else { %>
            <h1 class="text-white">NOT LOGGED IN</h1>
            <% } %>

                <%- include('../partials/footer.ejs') %>